.top {
    width: 100%;
    height: 50px;
    background-color: rgb(239, 241, 241);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Josefin Slab', serif;
    z-index: 999;
}

.topleft,
.topright {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topcenter {
    flex: 6;
}

.topList {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.topListItems{
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}

.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topSearchIcon{
    font-size: 18px;
    margin-left: 15px;
    color:#666;
    cursor: pointer;
}
